@import "../../fonts/Belgro.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ourProjectBody{
    margin-bottom: -10%;
}

.ourProjectContainer {
    margin: 70px;
  h1 {
    font-family: "Belgro";
    color: rgb(26, 26, 26);
    font-size: 24px;
    margin-bottom: 50px;
  }
}

.projectDivsContainer{
    display: flex;
    div{
        margin: 10px;
        img{
            width: 95%;
            margin-bottom: 15px;
        }
        h3{
            color: rgb(0, 3, 51);
            font: {
                family: 'Poppins';
            }
        }
        p{
            color: rgb(78, 76, 94);
            font: {
                family: 'Poppins';
                weight:300;
            }
        }
    }
}

@media screen and (max-width:770px){
    .projectDivsContainer{
        flex-direction: column;
    }
}

@media screen and (max-width:450px){
    .ourProjectContainer{
        margin: 40px;
        h1{
            font-size: 20px;
        }
    }
}